body {
    background-size: 1500px;
    background-image: url(https://i.imgur.com/xNKcVut.jpg);
}

#nav {
    padding-left: 38%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #484d54;
}

#main {
    margin-left: -5%;
    margin-right: -10%;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.searchBox {
    width: 30%;
    padding: 10px;
    background-color: #ebebeb;
}

.searchBttn {
    margin-top: 1px;
    color: white;
    font-size: 20px;
    background-color: #06536d;
    border-radius: 5px;
}

.searched {
    height: 400px;
    margin-top: 20px;
}

#weather {
    height: 100%;
    background-color: white;
}

#cityStats {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.cityStats {
    height: 225%;
    margin-top: 20px;
    padding: 25px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

#forecast {
    height: 200%;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.forecastDay {
    width: 132px;
    height: 185px;
    margin: 15px;
    padding: 8px 3px 8px 3px;
    background-color: #06536d;
    border: solid 1px #06536d;
    border-radius: 5px;
    z-index: 1;
} 

.forecastDay:first-of-type {
    margin-left: 0;
 }

.forecastDay:last-of-type {
    margin-right: 0;
 }

/* md devices - tablets */
@media screen and (max-width: 996px) {
    body {
        background-size: 1500px;
    }

    .navbar {
        width: 100%;
        padding-left: 30%;
    }

    #main {
        width: 200%;
        margin-left: -5%;
        margin-right: -10%;
        padding-bottom: 20px;
    }

    .searchBox {
        width: 30%;
        height: 250px;
    }

    #weather {
        width: 100%;
        margin-left: 0;
    }

    #forecast {
        width: 100%;
    }
}

/* sm devices - landscape phones */
@media screen and (max-width: 776px) {
    #nav {
        width: 1500px;
        padding-left: 25px;
    }

    #main {
        width: 190%;
        margin-left: 6%;
        padding-bottom: 20px;
    }

    .searchBox {
        width: 50%;
        margin-left: -5%;
    }

    #weather {
        margin-left: -5%;
        width: 100%;
    }

    #cityStats {
        width: 100%;
    }

    #forecast {
        width: 100%;
    }
}

/* xs devices - phones */
@media screen and (max-width: 375px) {
    #nav {
        width: 812px;
        padding-left: 7px;
    }

    #main {
        width: 105%;
        margin-left: 0;
        padding-bottom: 20px;
    }

    .searchBox {
        width: 105%;
        margin-left: -5%;
    }

    #weather {
        margin-left: -5%;
        width: 120%;
    }

    #cityStats {
        width: 100%;
    }

    #forecast {
        width: 100%;
    }
}