#nav {
    padding-left: 40%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #45454a;
}

#main {
    margin-left: -10%;
    margin-right: -15%;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 375px) {
    #main {
        margin-left: 0;
    }
}

@media screen and (max-width: 996px) {
    #main {
        margin-left: -20%;
        margin-right: -10%;
    }
}

.searchBox {
    width: 30%;
    padding: 10px;
    background-color: #ebebeb;
}

.searchBttn {
    margin-top: 1px;
    color: white;
    font-size: 20px;
    background-color: blue;
    border-radius: 5px;
}

.searched {
    height: 400px;
    margin-top: 20px;
}

#cityStats {
    height: 40%;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

.cityStats {
    height: 115%;
    margin-top: 20px;
    padding: 25px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.weatherIcons {
    display: none;
    float: right;
}

.forecast {
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
}

.forecastDay {
    width: 132px;
    height: 185px;
    margin: 15px;
    padding: 8px;
    background-color: #2bbcff;
    border: solid 1px blue;
    border-radius: 5px;
}

 /* .forecastDay:first-of-type {
    margin-left: 10px;
 } */

 .forecastDay:last-of-type {
    margin-right: 0;
 }
