body {
    background-size: 1500px;
    background-image: url(https://i.imgur.com/xNKcVut.jpg);
}

#nav {
    padding-left: 38%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #484d54;
}

#main {
    margin-left: -5%;
    margin-right: -10%;
    font-family: 'Open Sans', sans-serif;
}

.searchBox {
    width: 30%;
    padding: 10px;
    background-color: #ebebeb;
}

.searchBttn {
    margin-top: 1px;
    color: white;
    font-size: 20px;
    background-color: #06536d;
    border-radius: 5px;
}

.searched {
    height: 400px;
    margin-top: 20px;
}

#weather {
    height: 100%;
    background-color: white;
}

#cityStats {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.cityStats {
    height: 225%;
    margin-top: 20px;
    padding: 25px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

#forecast {
    height: 200%;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.forecastDay {
    width: 132px;
    height: 185px;
    margin: 15px;
    padding: 8px 3px 8px 3px;
    background-color: #06536d;
    border: solid 1px #06536d;
    border-radius: 5px;
    z-index: 1;
} 

.forecastDay:first-of-type {
    margin-left: 0;
 }

.forecastDay:last-of-type {
    margin-right: 0;
 }

 @media screen and (max-width: 375px) {
    .navbar {
        width: 812px;
    }

    #main {
        margin-left: 0;
        width: 490%;
    }

    .searchBox {
        width: 100%;
    }

    #weather {
        width: 70%;
    }

    #cityStats {
        width: 130%;
    }
}

 @media screen and (max-width: 776px) {
    #nav {
        width: 1500px;
        padding-left: 10px;
    }

    #main {
        margin-left: 0;
        width: 390%;
    }

    .searchBox {
        width: 25%;
        height: 250px;
        margin-left: -1%;
    }

    #weather {
        margin-left: -2%;
        width: 90%;
    }

    #cityStats {
        width: 32%;
    }
}

/* @media screen and (max-width: 996px) {
    #nav {
        width: 2100px;
    }

    #main {
        margin-left: -5%;
        margin-right: -10%;
    }

    .searchBox {
        width: 20%;
        height: 250px;
    }

    #weather {
        margin-left: 20px;
    }
} */